﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Students United</h1>
    <p class="lead">One platform for all the students to showcase their talent in order to help others </p>
    <p>Students can create their profile and upload their all the projects. Two step process and everyone can see your work.</p>
</div>

<div class="row">
    
</div>