﻿@model PassionPortfolio.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>User Information</h2>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="" alt="Profile Picture">
    <div class="card-body">
        <h4 class="card-title"><strong>@Model.UserFname @Model.UserLname</strong></h4>
        <p class="card-text"><strong>Email: </strong>@Model.UserEmail</p>
        <p class="card-text"><strong>Contact: </strong> @Model.UserContact</p>
        <span class="btn btn-light">@Html.ActionLink("Edit Profile", "Edit", new { id = Model.UserId })</span>
        <span class="btn btn-light">@Html.ActionLink("Delete", "Delete", new { id = Model.UserId })</span>
        <span class="btn btn-light">@Html.ActionLink("Add Project", "New", "Project")</span>
    </div>
</div>