﻿@model PassionPortfolio.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<form method="POST" action="/User/Edit/@Model.UserId">
    <div class="form-group">
        <label for="UserFname_New">First Name</label>
        <input id="UserFname_New" type="text" value="@Model.UserFname" class="form-control" name="UserFname_New" />
        <label for="UserLname_New">Last Name</label>
        <input id="UserLname_New" type="text" value="@Model.UserLname" class="form-control" name="UserLname_New" />
    </div>
    <div class="form-group">
        <label for="UserContact_New">Contact</label>
        <input id="UserContact_New" type="text" value="@Model.UserContact" class="form-control" name="UserContact_New" />
    </div>
    <div class="form-group">
        <label for="UserEmail_New">Email</label>
        <input id="UserEmail_New" type="email" value="@Model.UserEmail" class="form-control" name="UserEmail_New" />

    </div>



    <input type="submit" class="btn btn-primary" value="Save" />
    <li class="btn btn-light">@Html.ActionLink("Cancel", "List")</li>
</form>

