﻿@model IEnumerable<PassionPortfolio.Models.User>

@{
    ViewBag.Title = "List";
}

<h2>Students List</h2>
<hr />
<li class="btn btn-light" >@Html.ActionLink("Add Student", "New")</li>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                First Name
            </th>
            <th scope="col">
                Last Name
            </th>
            <th scope="col">
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
         {
             <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserFname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEmail)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                </td>
            </tr>
         }
    </tbody>
</table>
