﻿@model PassionPortfolio.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>New Student</h2>
<form method="POST" action="/User/Create">
    <div class="form-group">
        <label for="UserFname_New">First Name</label>
        <input id="UserFname_New" type="text" class="form-control" name="UserFname_New" />
        <label for="UserLname_New">Last Name</label>
        <input id="UserLname_New" type="text" class="form-control" name="UserLname_New" />
    </div>
    <div class="form-group">
        <label for="UserContact_New">Contact</label>
        <input id="UserContact_New" type="text" class="form-control" name="UserContact_New" />
    </div>
    <div class="form-group">
        <label for="UserEmail_New">Email</label>
        <input id="UserEmail_New" type="email" class="form-control" name="UserEmail_New" />

    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
    </form>