﻿@model PassionPortfolio.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="jumbotron">
    <h1 class="display-4">@Model.ProjectTitle</h1>
    <hr class="my-4">
    <p>@Model.ProjectDesc</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="@Model.ProjectLink" role="button">Visit</a>
    </p>
    <span class="btn btn-light">@Html.ActionLink("Edit Profile", "Edit", new { id = Model.ProjectId })</span>

</div>