﻿@model PassionPortfolio.Models.View_Models.ProjectEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Project</h2>
<form method="POST" action="/Project/Edit/@Model.project.ProjectId">
    <div class="form-group">
        <label for="ProjectTitle_New">Project Title</label>
        <input id="ProjectTitle_New" type="text" value="@Model.project.ProjectTitle" class="form-control" name="ProjectTitle_New" />
        
        <label id="ProjectUser_New1">Author: @Model.project.user.UserFname @Model.project.user.UserLname</label>
        <input id="ProjectUser_New" name="ProjectUser_New" style="display:none" value="@Model.project.user.UserId" class="form-control"></input>
    </div>
    <div class="form-group">
        <label for="ProjectDesc_New">Project Description</label>
        <textarea id="ProjectDesc_New" class="form-control" name="ProjectDesc_New">@Model.project.ProjectDesc</textarea>

    </div>
    <div class="form-group">
        <label for="ProjectLink_New">Project Link</label>
        <input id="ProjectLink_New" type="text" value="@Model.project.ProjectLink" class="form-control" name="ProjectLink_New" />

    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
