﻿@model IEnumerable<PassionPortfolio.Models.Project>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<li class="btn btn-light">@Html.ActionLink("Add Project", "New")</li>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"><strong>@item.ProjectTitle</strong></h3>
                    <h4><strong>Author: @item.user.UserFname @item.user.UserLname</strong></h4>
                    <p class="card-text">@item.ProjectDesc</p>
                    <a href="@item.ProjectLink" class="btn btn-primary">Visit</a>
                    <span class="btn btn-light">@Html.ActionLink("Edit", "Edit/" + item.ProjectId)</span>
                </div>
            </div>
        </div>
    </div>
}

