﻿@model PassionPortfolio.Models.View_Models.ProjectEdit

@{
    ViewBag.Title = "New";
}

<h2>New Project</h2>
<form method="POST" action="/Project/Create">
    <div class="inptrow">
        <label class="inplabel">Developer Name</label>
        <select id="ProjectUser_New" name="ProjectUser_New">
            @foreach (var user in Model.users)
            {
                <option value="@user.UserId">@user.UserFname @user.UserLname</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label for="ProjectTitle_New">Project Title</label>
        <input id="ProjectTitle_New" type="text" class="form-control" name="ProjectTitle_New" />
    </div>
    <div class="form-group">
        <label for="ProjectDesc_New">Project Description</label>
        <textarea id="ProjectDesc_New" name="ProjectDesc_New" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="ProjectLink_New">Project Link</label>
        <input id="ProjectLink_New" type="text" class="form-control" name="ProjectLink_New" />
    </div>
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
